apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: fullstack-pilot
resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
images:
  - name: ghcr.io/koydas/fullstack-pilot/server
    newTag: latest
